.form-group {
  background-color: transparent;
}
form {
  background-color: #fcc9b9;
  width: 500px;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 10px 10px;
}

.display {
  background-color: #fcc9b9;
  width: 500px;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 10px 10px;
}
.display > div {
  background-color: #ffb3a7;
  border-radius: 10px;
  margin: 5px 5px;
  padding: 5px 5px;
  font-weight: bold;
}
.display span:not(:empty) {
  background-color: #f08f90;
  border: 2px solid #f08f90;
  border-radius: 5px;
  font-weight: bold;
}

.prev-display {
  background-color: #6b9362;
  width: 500px;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 10px 10px;
}

.prev-output-display,
.prev-input-display {
  background-color: #8db255;
  border-radius: 10px;
  margin: 5px 5px;
  padding: 5px 5px;
  font-weight: bold;
}
.prev-display span:not(:empty) {
  background-color: #8c9e5e;
  border: 2px solid #8c9e5e;
  border-radius: 5px;
  font-weight: bold;
}
.history {
  background-color: #8db255;
  border-radius: 10px;
  margin: 5px 5px;
  padding: 5px 5px;
  font-weight: bold;
}

.display p {
  font-weight: normal;
}

/* https://en.wikipedia.org/wiki/Traditional_colors_of_Japan */
